@import "./../settings";
@import "./../mixins";
@import "./../functions";

@import "./../core/root";
/*!
.fd-alert+(--information, --success, --warning, --error, --no-icon)
    .fd-alert__close
*/
$block: #{$fd-namespace}-alert;
.#{$block} {
    //SETTINGS

    $fd-alert-padding-x: fd-space(2.25) !default;
    $fd-alert-padding-y: fd-space("xs") !default;

    // Block
    @include fd-reset();
    position: relative;
    color: var(--sapTextColor);
    border-style: solid;
    border-width: 1px;
    background-color: var(--sapNeutralBackground);
    border-color: var(--sapContent_UnratedColor);
    padding: $fd-alert-padding-x $fd-alert-padding-y;
    border-radius: $fd-border-radius;

    // Elements
    &__close {
      position: absolute;
      right: 0;
      top: 0;
      @include fd-icon("decline", "m");
      @include fd-button-reset();
      color: var(--sapInformativeColor);
      width: fd-space(9);
      height: fd-space(9.5);
      @include fd-focus();
      @include fd-rtl() {
        left: 0;
        right: auto;
      }
    }


    // Modifiers
    &--dismissible {
      padding-right: fd-space("large");
      @include fd-rtl() {
        padding-right: $fd-alert-padding-x;
        padding-left: fd-space("large");
      }
    }
    &--warning,
    &--information,
    &--success,
    &--error {
      &::before {
        margin-top: fd-space(.75);
      }
      padding-left: fd-space("large");
      @include fd-rtl() {
        padding-right: fd-space("large");
        padding-left: $fd-alert-padding-x;
        &::before {
          display: none;
        }
        &::after {
          margin-top: fd-space(.5);
          display: none;
        }
      }
      &.#{$block}--dismissible {
        padding-right: fd-space("large");
        @include fd-rtl() {
          padding-left: fd-space("large");
        }
      }
      @include fd-icon-base() {
        position: absolute;
        left: fd-space("small");
        top: fd-space("tiny");
      }
      @include fd-rtl() {
        @include fd-icon-base("after") {
          position: absolute;
          right: fd-space("small");
          top: fd-space("tiny");
        }
      }
    }
    &--warning {
      &::before,
      &::after {
        color: var(--sapWarningColor);
      }
      background-color: var(--sapWarningBackground);
      border-color: var(--sapWarningColor);
      @include fd-icon("message-warning", "m");
      @include fd-rtl() {
        @include fd-icon("message-warning", "m", "after");
      }
    }
    &--error {
      &::before,
      &::after {
         color: var(--sapNegativeColor);
      }
      background-color: var(--sapErrorBackground);
      border-color: var(--sapNegativeColor);
      @include fd-icon("message-error", "m");
      @include fd-rtl() {
        @include fd-icon("message-error", "m", "after");
      }
    }
    &--success {
      &::before,
      &::after {
        color: var(--sapPositiveColor);
      }
      background-color: var(--sapSuccessBackground);
      border-color: var(--sapPositiveColor);
      @include fd-icon("message-success", "m");
      @include fd-rtl() {
        @include fd-icon("message-success", "m", "after");
      }
    }
    &--information {
      &::before,
      &::after {
        color: var(--sapInformativeColor);
      }
      background-color: var(--sapInformationBackground);
      border-color: var(--sapInformativeColor);
      @include fd-icon("message-information", "m");
      @include fd-rtl() {
        @include fd-icon("message-information", "m", "after");
      }
    }
    &--no-icon {
      padding-left: $fd-alert-padding-x;
      &::before {
        display: none;
      }
      @include fd-rtl() {
        padding-right: $fd-alert-padding-x;
        &::after {
          display: none;
        }
      }
    }
    &__text {
      @include fd-reset();
    }
}