@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-table
    thead
    tbody
        tr+([aria-selected])
*/
$block: #{$fd-namespace}-table;

.#{$block} {
  // LOCAL VARS (set all themeable properties, always include !default)
  $fd-table-cell-padding: fd-space("s") !default;
  $fd-table-transition-params: $fd-animation--speed ease-in !default;
  $fd-table-sort-icon-size: fd-space(3);
  $fd-table-sort-column-header-background-color: fd-color("neutral", 2);
  $fd-table-fixed-column-cell-color: fd-color("background", 2);

  $fd-table-cell-padding: 0.5rem;
  $fd-table-header-height: 2.75rem;
  $fd-table-header-compact-height: 2rem;
  $fd-table-header-condensed-height: 1.5rem;

  // BLOCK BASE *******************************************
  // set all BLOCK reset and baseline styles
  @include fd-reset();
  @include fd-last-child();

  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-bottom: $fd-margin-bottom;

  &__row {
    &--valid,
    &--warning,
    &--error,
    &--information {
      border: none;

      .#{$block}__cell:first-child {
        position: relative;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 0.375rem;
          content: "";
          height: 100%;
        }

        @include fd-rtl() {
          &::before {
            left: auto;
            right: 0;
          }
        }
      }
    }

    @mixin highlight-cell($color) {
      .#{$block}__cell:first-child {
        &::before {
          background-color: $color;
        }
      }
    }

    &--valid {
      @include highlight-cell(var(--sapSuccessBorderColor));
    }

    &--warning {
      @include highlight-cell(var(--sapWarningBorderColor));
    }

    &--error {
      @include highlight-cell(var(--sapErrorBorderColor));
    }

    &--information {
      @include highlight-cell(var(--sapInformationBorderColor));
    }
  }

  .#{$block}__icon {
    color: var(--sapContent_NonInteractiveIconColor);
    font-size: var(--sapFontSmallSize);
    vertical-align: middle;
  }

  &__header {
    @include fd-reset();

    .#{$block}__row {
      border: none;

      &:hover {
        background-color: inherit;
      }
    }

    .#{$block}__cell {
      height: $fd-table-header-height;
      background-color: var(--sapList_HeaderBackground);
      border: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
      color: var(--sapList_HeaderTextColor);

      @include fd-hover() {
        background-color: var(--sapList_Hover_Background);
      }

      @include fd-active() {
        background-color: var(--sapList_Active_Background);
        color: var(--sapList_Active_TextColor);

        .#{$block}__icon {
          color: var(--sapContent_ContrastIconColor);
        }
      }
    }
  }

  &__cell {
    text-align: left;
    height: $fd-table-header-height;
    padding: 0 $fd-table-cell-padding;
    font-family: var(--sapFontFamily);
    font-size: var(--sapFontSize);
    font-weight: normal;
    vertical-align: middle;

    &--valid {
      color: var(--sapSuccessColor);
    }

    &--warning {
      color: var(--sapWarningColor);
    }

    &--error {
      color: var(--sapErrorColor);
    }

    &--information {
      color: var(--sapInformationColor);
    }

    @include fd-first-child() {
      padding-left: 1rem;

      &--checkbox {
        padding-left: $fd-table-cell-padding;
      }
    }
  }

  &__body {
    @include fd-reset();

    .#{$block}__row {
      transition: background-color $fd-table-transition-params;
      border-bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
      border-left: none;
      border-right: none;
      background-color: var(--sapList_Background);

      @include fd-hover() {
        background-color: var(--sapList_Hover_Background);
      }

      @include fd-active() {
        background-color: var(--sapList_Active_Background);
        border-bottom-color: var(--sapList_SelectionBorderColor);
        color: var(--sapList_Active_TextColor);

        .#{$block}__icon {
          color: var(--sapContent_ContrastIconColor);
        }
      }

      @include fd-selected() {
        background-color: var(--sapList_SelectionBackgroundColor);
        border-bottom-color: var(--sapList_SelectionBorderColor);

        @include fd-hover() {
          background-color: var(--sapList_Hover_SelectionBackground);
        }
      }
    }

    .#{$block}__cell {
      word-break: break-word;
    }
  }

  &__footer {
    .#{$block}__row {
      border-top: 0.125rem solid var(--sapList_TableFooterBorder);
      vertical-align: middle;
    }

    .#{$block}__cell {
      font-weight: bold;
    }
  }

  &__sort-column {
    &:hover {
      @include fd-var-color("background-color", $fd-table-sort-column-header-background-color, --fd-color-neutral-2);

      cursor: pointer;
    }

    &::after {
      content: "";
      width: $fd-table-sort-icon-size;
      height: $fd-table-sort-icon-size;
      display: inline-block;
      background: url($fd-table-column-sort-icon) no-repeat center center;
      margin: 0 $fd-table-sort-icon-size;
      vertical-align: text-top;
    }

    // these are the selected states, should be .is-selected, aria-selected=true
    &--asc,
    &--dsc {
      @include fd-var-color("background-color", $fd-table-sort-column-header-background-color, --fd-color-neutral-2);
    }

    &--asc {
      &::after {
        background-image: url($fd-table-column-sort-icon--asc);
      }
    }

    &--dsc {
      &::after {
        background-image: url($fd-table-column-sort-icon--dsc);
      }
    }
  }

  &__context-menu-label {
    display: block;

    &::after {
      content: "";
      width: $fd-table-sort-icon-size;
      height: $fd-table-sort-icon-size;
      display: inline-block;
      background: url($fd-table-context-menu-icon) no-repeat center center;
      margin: 0 $fd-table-sort-icon-size;
      vertical-align: text-top;
    }
  }

  &__fixed-cell {
    left: 0;
    max-width: 200px;
    position: absolute;
    z-index: map-get($fd-z-index-levels, "second");
    border-right: var(--sapList_BorderWidth) solid var(--sapList_TableFixedBorderColor);
  }

  &--fixed-wrapper {
    position: relative;
  }

  &--fixed {
    overflow-x: scroll;
    padding-left: 200px;

    .#{$block}__cell {
      min-width: 200px;
    }
  }

  &--no-borders {
    @include fd-reset();

    border: none;

    .#{$block}__body {
      .#{$block}__row {
        border: none;
      }
    }
  }

  &--compact {
    .#{$block}__cell {
      height: $fd-table-header-compact-height;
    }
  }

  &--condensed {
    .#{$block}__cell {
      height: $fd-table-header-condensed-height;
    }

    .#{$block}__header {
      .#{$block}__cell {
        height: $fd-table-header-compact-height;
      }
    }
  }

  &--striped {
    .#{$block}__body {
      .#{$block}__row:nth-child(even) {
        @include fd-var-color("background-color", fd-color-state("hover"), --fd-color-background-hover);
      }
    }
  }

  &.#{$fd-namespace}-has-first-child-text-align-right {
    .#{$block}__cell:first-child {
      text-align: right !important;
    }
  }

  &.#{$fd-namespace}-has-last-child-text-align-right {
    .#{$block}__cell:last-child {
      text-align: right !important;
    }
  }

  @each $i in 2, 3, 4, 5, 6, 7, 8, 9 {
    &.#{$fd-namespace}-has-nth-child-#{$i}-text-align-right {
      .#{$block}__cell:nth-child(#{$i}) {
        text-align: right !important;
      }
    }
  }
}
